#ignore file extensions
*.out
*.pyc
*.zip

#ignore fits files
!pyklip/pickles/*.fits
!pyklip/filters/*.fits
version.py
tests/*.fits
tests/*.h5
tests/*.png
tests/*.pkl
examples/*.fits
tutorial_Occulted_2001-01-01_*.fits
P1640_tutorial_data.tar.gz


#ignore auxiliary directories
pyklip.egg-info/
gitstats/
.idea/
.vscode/
testing_scripts/
docs/build/
.cache/
examples/.ipynb_checkpoints/
build/
.pytest_cache/
dist/
